package ${package}.${moduleName}.controller;

import java.util.Map;
import cn.hutool.core.util.StrUtil;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.springframework.web.bind.annotation.*;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;
import com.suke.zhjg.common.autofull.util.R;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.AllArgsConstructor;
import com.suke.czx.common.annotation.SysLog;
import com.suke.czx.common.base.AbstractController;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@AllArgsConstructor
@RequestMapping("/${moduleName}/${requestMapping}")
@Api(value = "${className}Controller", tags = "${comments}")
public class ${className}Controller extends AbstractController {
    private final ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @ApiOperation(value = "${comments}列表")
    @GetMapping("/list")
    public R list(@RequestParam Map<String, Object> params) {
        //查询列表数据
        QueryWrapper<${className}> queryWrapper = new QueryWrapper<>();
        final String keyword = mpPageConvert.getKeyword(params);
        if (StrUtil.isNotEmpty(keyword)) {

        }
        IPage<${className}> listPage = ${classname}Service.page(mpPageConvert.<${className}>pageParamConvert(params), queryWrapper);
        return R.ok().setData(listPage);
    }


    /**
     * 新增${comments}
     */
    @ApiOperation(value = "新增${comments}数据")
    @SysLog("新增${comments}数据")
        #if($useRestful)
        @PutMapping("/${requestMapping}")
        #else
        @PostMapping("/save")
        #end
    public R save(@RequestBody ${className} ${classname}) {
            ${classname}Service.save(${classname});
        return R.ok();
    }


    /**
     * 修改
     */
    @ApiOperation(value = "修改${comments}数据")
    @SysLog("修改${comments}数据")
        #if($useRestful)
        @PutMapping("/${requestMapping}")
        #else
        @PostMapping("/update")
        #end
    public R update(@RequestBody ${className} ${classname}) {
            ${classname}Service.updateById(${classname});
        return R.ok();
    }


    /**
     * 删除
     */
    @ApiOperation(value = "删除${comments}数据")
    @SysLog("删除${comments}数据")
        #if($useRestful)
        @DeleteMapping("/${requestMapping}")
        #else
        @PostMapping("/delete")
        #end
    public R delete(@RequestBody ${className} ${classname}) {
            ${classname}Service.removeById(${classname}.get${pk.attrName}());
        return R.ok();
    }

}
