import request from '@/utils/request';

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
export function use${ModuleName}Api() {
	return {
		list: (params) => {
			return request({
				url: '/sys/${moduleName}/list',
				method: 'get',
				params
			});
		},
		add: (params) => {
			return request({
		#if($useRestful)
		url: '/sys/${moduleName}/${requestMapping}',
		method: 'put',
		#else
		url: '/sys/${moduleName}/save',
		method: 'post',
		#end
				data: params
			});
		},
		update: (params) => {
			return request({
		#if($useRestful)
		url: '/sys/${moduleName}/${requestMapping}',
		method: 'put',
		#else
		url: '/sys/${moduleName}/update',
		method: 'post',
		#end
				data: params
			});
		},
		delete: (params) => {
			return request({
		#if($useRestful)
		url: '/sys/${moduleName}/${requestMapping}',
		method: 'delete',
		#else
		url: '/sys/${moduleName}/delete',
		method: 'post',
		#end
				data: params
			});
		}
	};
}
